<!DOCTYPE html>
<html>
  <head>
    <title>TheFatRat | Store</title>
    <meta name="description" content="Fan made site for TheFatRat" />
    <script
      src="https://kit.fontawesome.com/9d82ab87b3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <script src="scripts.js"></script>
  </head>
  <body>
    <header class="page-header">
      <nav class="nav main-nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="store.html">Store</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
      <h1 class="band-name band-name-large">TheFatRat</h1>
    </header>

    <section>
      <h2 class="section-header">MUSIC</h2>
      <div class="shop-section">
        <% items.music.forEach(function(item){ %>
        <div class="shop-item" data--item-id="<%= item.id %>">
          <span class="shop-item-title"><%= item.name %></span>
          <img
            class="shop-item-image"
            src="Images/<%= item.imgName  %>"
            alt="<%= item.name %> album art"
          />
          <div class="shop-item-details">
            <span class="shop-item-price">$<%= item.price/100 %> </span>
            <button class="btn btn-primary shop-item-btn" type="button">
              ADD TO CART
            </button>
          </div>
        </div>
        <% }) %>
      </div>
    </section>

    <section>
      <h2 class="section-header">MERCH</h2>
      <div class="shop-section">
        <% items.merch.forEach(function(item){ %>
        <div class="shop-item" data--item-id="<%= item.id %>">
          <span class="shop-item-title"><%= item.name %></span>
          <img
            class="shop-item-image"
            src="Images/<%= item.imgName  %>"
            alt="<%= item.name %> album art"
          />
          <div class="shop-item-details">
            <span class="shop-item-price">$<%= item.price/100 %> </span>
            <button class="btn btn-primary shop-item-btn" type="button">
              ADD TO CART
            </button>
          </div>
        </div>
        <% }) %>
      </div>
    </section>

    <section class="container content-section">
      <h2 class="section-header">CART</h2>
      <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>
      <div class="cart-items"></div>
      <div class="cart-total">
        <span class="cart-total-title">TOTAL: </span>
        <span class="cart-total-price">$0</span>
      </div>
      <button class="btn btn-primary btn-purchase" role="button">
        PURCHASE
      </button>
    </section>

    <footer class="main-footer">
      <div class="container main-footer-container">
        <h3 class="band-name">TheFatRat</h3>
        <ul class="nav footer-nav">
          <li>
            <a
              href="https://open.spotify.com/artist/3OKg7YbOIatODzkRIbLJR4?si=NjNtL31vRwKNmxSB_jijSQ"
              target="_blank"
              ><i class="fa-brands fa-spotify fa-2x"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCa_UMppcMsHIzb5LDx1u9zQ?feature=gws_kp_artist&feature=gws_kp_artist"
              target="_blank"
              ><i class="fa-brands fa-youtube fa-2x"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/thefatratofficial/?hl=en"
              target="_blank"
              ><i class="fa-brands fa-instagram fa-2x"></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
